body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* 세로 방향으로 요소들을 정렬합니다 */
}

h1 {
    text-align: center;
    margin-top: 40px;
    
}

h2 {
    text-align: center;
    margin-top: 30px;
    
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li:last-child {
    margin-right: 0;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /*가로배치하기 위해 추가*/
}

.menu-bar nav ul li {
   
    margin-right: 20px;
}

.menu-bar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex; /* 가로로 배치하기 위해 추가 */
}

.login-signup {
    display: flex; /* 가로로 배치하기 위해 추가 */
    margin-left: auto; /* 우측으로 정렬 */
    margin-top: -10px; /* 위로 조금 띄우기 */
}

.login-signup a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
   
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     justify-content: flex-start; /* 중앙에서 상단으로 정렬 방식 변경 */
      padding-top: 50px; /* 상단으로부터 어느 정도 떨어져 있게 설정, 필요에 따라 조절 */
}

.login-container {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: -10px;
    
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* 인풋 너비를 컨테이너에 맞춤 */
    padding: 10px;
    margin-bottom: 10px; /* 인풋 요소들 사이의 마진 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 테두리 둥글게 */
}
/* 라벨 스타일 */
label {
    display: block;
    margin-bottom: 5px; /* 라벨과 인풋 사이의 마진 */
}
button[type="submit"]:hover {
    background-color: #0056b3;
}