<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire-ProtectM</title>
    <link rel="stylesheet" href="../css/MPstyle.css">
    
</head>
<body>
<header>
    <h2>Fire-ProtectM</h2>
    <button onclick="location.href='/Login'" class="login-button">로그인</button>
    <a href="/loginPageURL"> <button onclick="location.href='#signup'" class="signup-button" >회원등록</button> </a>
</header>

<div class="container right-panel-active">

  <!-- Sign Up Form -->
  <div class="container__form container--signup">
    <form action="eqlist.jsp" class="form" id="form1">
      <h2 class="form__title">Sign Up</h2>
      <input type="text" placeholder="User" class="input" />
      <input type="email" placeholder="Email" class="input" />
      <input type="password" placeholder="Password" class="input" />
      <input type="password" placeholder="Confirm Password" class="input" />
      <button class="btn">Sign Up</button>
    </form>
  </div>

  <!-- Sign In Form -->
  <div class="container__form container--signin">
    <form action="/views/mainpage" class="form" id="form2">
      <h2 class="form__title">Sign In</h2>
      <input type="email" placeholder="Email" class="input" />
      <input type="password" placeholder="Password" class="input" />
      <a href="#" class="link">Forgot your password?</a>
      <button class="btn">Sign In</button>
    </form>
  </div>

  <!-- Overlay -->
  <div class="container__overlay">
    <div class="overlay">
      <div class="overlay__panel overlay--left">
        <button class="btn" id="signIn">Sign In</button>
      </div>
      <div class="overlay__panel overlay--right">
        <button class="btn" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<script>
// 여기에 JavaScript 코드를 포함시킵니다.
const signInBtn = document.getElementById("signIn");
const signUpBtn = document.getElementById("signUp");
const fistForm = document.getElementById("form1");
const secondForm = document.getElementById("form2");
const container = document.querySelector(".container");

signInBtn.addEventListener("click", () => {
  container.classList.remove("right-panel-active");
});

signUpBtn.addEventListener("click", () => {
  container.classList.add("right-panel-active");
});

fistForm.addEventListener("submit", (e) => e.preventDefault());
//secondForm.addEventListener("submit", (e) => e.preventDefault());
</script>
</body>
</html>
